# MAAV Computer Vision Repository

# Ignore Python Virtual Environment install files and binaries
env

# Ignore development environment files for IDEs or other editors
.vscode

__pycache__

mast-images/
mast-videos/